{% set blox = htmlWebpackPlugin.options.blox %}
{% set title = blox.blox.page.title %}

{% extends "layout/layout.njk" %}

{% import "sets/bootstrap/pagination/pagination.njk" as paginationComp %}

{% block content %}

  {# <h1>app:{{ blox.db | dump }}</h1> #}

  <div class="features item container">
    <div class="item__header">
      <h1 class="item__name">{{blox.db.features.contentType.pluralName}}</h1>
    </div>
    {% if (blox.page.pagination.offset + blox.page.pagination.itemsPerPage) < blox.page.pagination.total %}
      {% set upperRange = blox.page.pagination.offset + blox.page.pagination.itemsPerPage %}
    {% else %}
      {% set upperRange = blox.page.pagination.total %}
    {% endif %}

    {% for i in range(blox.page.pagination.offset, upperRange) %}
      <div class="alt">
        <div class="alt__item alt__item_body">
          <a href="/features/{{blox.db.features.items[i].slug}}">
            <h2>{{blox.db.features.items[i].fields.title}}</h2>
          </a>
          <p>
            {{blox.db.features.items[i].fields.body | striptags() | truncate(200)}}
            <a
          href="/features/{{blox.db.features.items[i].slug}}">More</a>
          </p>
        </div>
        <div class="alt__item alt__item_figure">
          <a href="/features/{{blox.db.features.items[i].slug}}"><img class="alt__image"
          src="{{blox.db.features.items[i].fields.image.sizes.w420}}" alt="{{blox.db.features.items[i].fields.title}}"></a>
        </div>
      </div>
    {% endfor %}

    {% call paginationComp.nav() %}
    {% if blox.page.pagination.currentPage !== 1 %}
      {{paginationComp.previous(url = '/' + blox.page.name + '/page-' + (blox.page.pagination.currentPage - 1)) }}
    {% else %}
      {{paginationComp.disabledPrevious() }}
    {% endif %}
    {% for i in range(0, 
      (blox.page.pagination.total/blox.page.pagination.itemsPerPage) | round) -%}
      {% if blox.page.pagination.currentPage === i + 1 %}
        {{paginationComp.activeItem(i + 1) }}
      {% else %}
        {{paginationComp.nonActiveItem(i + 1, '/' + blox.page.name + '/page-' + (i + 1)) }}
      {% endif %}
    {%- endfor %}
    {% if blox.page.pagination.currentPage != (blox.page.pagination.total / 2) | round %}
      {{paginationComp.next(url = '/' + blox.page.name + '/page-' + (blox.page.pagination.currentPage + 1)) }}
    {% else %}
      {{paginationComp.disabledNext() }}
    {% endif %}
    {% endcall %}
    <div class="attribution">Icons made by <a href="https://www.freepik.com/" title="Freepik" rel="noreferrer">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon" rel="noreferrer">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank"
      rel="noreferrer">CC 3.0 BY</a>
    </div>
  </div>
{% endblock %}