/**************
Documentation
***************/

.documentation {
  background-color: #fff;
  padding: 20px 60px 100px 60px;
}

@media only screen and (max-width: 600px) {
  .documentation {
    padding: 0 10px;
  }
}
