{% set page = { 
  name: 'docs',
  title: 'Documentation' 
  } %}

{% extends "layout/layout.njk" %}
  
{% block content %}
<div class="documentation item container">
  <div class="item__header">
    <h1 class="item__name">{{blox.db.documentation.contentType.pluralName}}</h1>
  </div>
  <div>

  </div>
</div>
{% endblock %}