<!-- Front matter (the page variable can be accessed in any includes and partials) -->
{% set blox = htmlWebpackPlugin.options.blox %}
{# {% set title = blox.page.item %} #}
{# {% set page = page | setAttribute("title", "Home") %} #}
{% extends "layout/layout.njk" %}
{% block content %}
    <!-- Partials -->
    {% include "pages/home/partials/landing/landing.njk" %}
    {% include "pages/home/components/reviews/reviews.njk" %}
{% endblock %}