<!-- Front matter (the page variable can be accessed in any includes and partials) -->
{% set blox = htmlWebpackPlugin.options.blox %}
{# {% set title = blox.page.item %} #}
{# {% set page = page | setAttribute("title", "Home") %} #}
{% extends "layout/layout.njk" %}
{# {% set vars = htmlWebpackPlugin.options.customData %} #}
{% block content %}
{# <h1>Vars::{{ blox.page | dump }}</h1> #}
{# <h1>Name::{{ page.name }}</h1> #}

    <!-- Partials -->
    {% include "pages/home/components/landing/landing.njk" %}
    {% include "partials/reviews/reviews.njk" %}
{% endblock %}